{% extends 'base.html.twig' %}

    {% block content %}
        <div class="content">
            <div class="col-lg-12">
                <h1>{{ title }}</h1>
            </div>
            {% for article in articles %}
                <div class="item-block col col-lg-4">
                    <div class="inner">
                        {#<div class="img" style="background-image: url('{{ asset('uploads/') }}{{ article.image.path }}')"></div>#}
                        {# FOR FIXTURES #}
                        <div class="img" style="background-image: url('{{ article.image }}')"></div>
                        {# FOR FIXTURES #}
                        <div class="inner-text">
                            <a class="category" href="{{ path("category", { "slug" : article.categories.slug}, true) }}/1">
                                <i class="fa fa-{{ article.categories.class }}"></i> {{ article.categories.name }}
                            </a>
                            <a class="title" href="/article/{{ article.slug }}">{{ article.title }}</a>

                            <p class="desc">{{ article.description }}...</p>

                            <div class="item-footer">
                                <hr>
                                <ul class="meta_data">
                                    <li class="author">
                                        <a class="url fn" href="/{{ path( "user", { "slug" : article.users.slug }, true ) }}">
                                            <span class="fa fa-user"></span>{{ article.users.firstName }}
                                        </a>
                                    </li>
                                    {#<li class="comment">#}
                                        {#<a href="/"><span class="fa fa-comment-o"></span>{{ article.comments|length }}</a>#}
                                    {#</li>#}
                                    {#<li class="like">#}
                                            {#<span class="post-like">#}
                                                {#<span class="fa fa-heart-o"></span>#}
                                                {#<span class="count">{{ article.likes|length }}</span>#}
                                            {#</span>#}
                                    {#</li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="pagination">
                <div class="">
                    <ul class="pagination">
                        {% if articles|length / 9 > 1 %}
                            {% for page in 1..pages + 1 %}
                                {% if page == current %}
                                    <li><span class="page-numbers current"><span class="num">{{ page }}</span></span></li>
                                {% else %}
                                    <li><a class="page-numbers" href="/page/{{ page }}"><span class="num">{{ page }}</span></a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
        </div>


    {% endblock content %}




