<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="{% block meta_description %}Esthetic Journal - Головна Сторінка{% endblock meta_description %}">
    <style type="text/css">@-ms-viewport {
            width: device-width;
        }</style>
    <title>{% block page_title %}Esthetic Journal - Головна Сторінка{% endblock page_title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/layers.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('css/style-frontend.css') }}" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Proxi:400,700|Open+Sans:400italic,700italic,400,700'
              rel='stylesheet' type='text/css'>
    {% endblock stylesheets %}
</head>

<body class="{% block body_classes %}{% endblock %}">
{% block header %}
    <header role="banner" class="transparent light">
        <div class="row">
            <div class="nav-inner row-content buffer-left buffer-right even clear-after">
                <div id="brand">
                    <h1 class="reset">
                        <a href="{{ path('homepage') }}">Esthetic Journal</a>
                    </h1>
                </div><!-- brand -->
                <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
                <nav>
                    <ul class="reset" role="navigation">
                        <li class="menu-item">
                            <a href="{{ path('homepage') }}">Головна</a>
                            {#<ul class="sub-menu">#}
                                {#<li><a href="#">1</a></li>#}
                                {#<li><a href="#">2</a></li>#}
                                {#<li><a href="#">3</a></li>#}
                            {#</ul>#}
                        </li>
                        <li class="menu-item">
                            <a href="{{ path('blog', {"number" : 1}) }}">Новини</a>
                            {#<ul class="sub-menu">#}
                                {#<li><a href="#">1</a></li>#}
                                {#<li><a href="#">2</a></li>#}
                                {#<li><a href="#">3</a></li>#}
                                {#<li><a href="#">4</a></li>#}
                                {#<li><a href="#">5</a></li>#}
                                {#<li><a href="#">6</a></li>#}
                            {#</ul>#}
                        </li>
                        <li class="menu-item">
                            <a href="{{ path('page', {'slug': 'video'}) }}">Відео</a>
                            {#<ul class="sub-menu">#}
                                {#<li><a href="#">1</a></li>#}
                                {#<li><a href="#">2</a></li>#}
                                {#<li><a href="#">3</a></li>#}
                                {#<li><a href="#">4</a></li>#}
                            {#</ul>#}
                        </li>
                        <li class="menu-item"><a href="{{ path('page', {'slug': 'about-us'}) }}">Про нас</a></li>
                        {#<li class="menu-item"><a href="#">Пошук</a></li>#}
                        <li class="menu-item"><a href="{{ path('page', {'slug': 'contacts'}) }}">Контакти</a></li>
                    </ul>
                </nav>
            </div><!-- row-content -->
        </div><!-- row -->
    </header>
{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}
    <footer role="contentinfo">
        <div class="row">
            <div class="row-content buffer clear-after">
                <section id="top-footer">
                    <div class="widget column three"><!-- widget-->
                        <h4>Меню</h4>
                        <ul class="plain">
                            <li><a href="#">Головна</a></li>
                            <li><a href="#">Новини</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#">Контакти</a></li>
                        </ul>
                    </div>
                    <div class="widget column three">
                        <h4>Архіви</h4>
                        <ul class="plain">
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2016</a></li>
                        </ul>
                    </div>
                    <div class="widget meta-social column three">
                        <h4>Слідкуйте за нами</h4>
                        <ul class="inline">
                            <li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a>
                            </li>
                            <li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                            <li><a href="#" class="vk-share border-box"><i class="fa fa-vk fa-lg"></i></a></li>
                        </ul>
                    </div>
                </section><!-- top-footer -->
                <section id="bottom-footer">
                    <p class="keep-left">&copy; 2016 <a href="http://vk.com/awaylastdays" alt="AwayLastDays">AwayLastDays</a>.
                        All Rights Reserved.</p>
                </section><!-- bottom-footer -->
            </div><!-- row-content -->
        </div><!-- row -->
    </footer>
{% endblock footer %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/alpha.js') }}"></script>
{% endblock javascripts %}

</body>
</html>