{% extends 'base.html.twig' %}

{% block content %}
    <main role="main">
        <div id="intro-wrap">
            <div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true"
                 data-transition="fadeUp">
                {% for slide in slides %}
                    <div class="intro-item" style="background-image: url({{ slide.image.path }});">
                        <div class="caption">
                            <h2>{{ slide.title }}</h2>
                            <p>{{ slide.description | raw }}</p>
                            <a class="button white transparent" href="{{ path('article', {"slug": slide.slug}) }}">Читати</a>
                        </div><!-- caption -->
                        {#<div class="photocaption">#}
                        {#<h4>Фото зробив: <a href="http://vk.com/awaylastdays">Vadim Bruklia</a></h4>#}
                        {#</div><!-- photocaption -->#}
                    </div>
                {% endfor %}
            </div><!-- intro -->
        </div><!-- intro-wrap -->

        <div id="main">
            {#{{ dump(app.user) }}#}
            <section class="row section">
                <div class="row-content buffer even clear-after">
                    <div class="section-title"><h3>Останні новини</h3></div>
                    <div class="grid-items blog-section masonry-style preload">
                        {% for article in articles %}
                            <article
                                    class="item column {% if loop.index == 1 or loop.index == 4 or loop.index == 9 %} six {% else %} three {% endif %}">
                                <a href="{{ path('article', {"slug" : article.slug}) }}">
                                    <figure style="background-image: url({{ article.image.path }})">
                                        <span class="blog-overlay">
                                            <i class="icon icon-doc"></i>
                                        </span>
                                    </figure>
                                    <div class="blog-excerpt">
                                        <div class="blog-excerpt-inner">
                                            <h5 class="meta-post">{{ article.categories.name }}</h5>
                                            <h2>{{ article.title }}</h2>
                                            <p></p>
                                        </div><!-- blog-excerpt-inner -->
                                    </div><!-- blog-excerpt -->
                                </a>
                            </article>
                        {% endfor %}

                        <div class="shuffle-sizer three"></div>
                    </div><!-- grid-items -->
                    <div class="more-btn"><a class="button transparent aqua" href="{{ path('blog', {"number" : 1}) }}">Читати
                            всі новини</a></div>
                </div>
            </section>

            <section class="row section">
                <div class="map" data-maplat="49.445773" data-maplon="32.062016" data-mapzoom="17" data-color=""
                     data-height="22.222" data-img="img/marker.png" data-info="Мы находимся в Черкассах"></div>
            </section>

        </div><!-- id-main -->
    </main><!-- main -->
{% endblock content %}



