<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="admin">

        <div class="col col-lg-2" id="sidebar">
            <div class="container">
                <a href="/" id="logo"><img src="{{ asset('img/crystal-white.png') }}" alt="Logo"></a>
                <ul class="admin-menu">
                    <li><a href="#">Новини</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/article/new">Додати новину</a></li>
                            <li><a href="/admin/articles/1">Всі новини</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Коментарі</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/comment/new">Додати коментар</a></li>
                            <li><a href="/admin/comments/1">Всі коментарі</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Сторінки</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/page/new">Додати сторінку</a></li>
                            <li><a href="/admin/pages/1">Всі сторінки</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Користувачі</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/user/new">Додати користувача</a></li>
                            <li><a href="/admin/users/1">Всі користувачі</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Картинки</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/image/new">Додати картинку</a></li>
                            <li><a href="/admin/images/1">Всі картинки</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Категорії</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/category/new">Додати категорію</a></li>
                            <li><a href="/admin/categories/1">Всі категорії</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col col-lg-10" id="content">
            <div class="container">
                {% block content %}{% endblock content %}

                {% block pagination %}{% endblock pagination %}

            </div>
        </div>

        {% block javascript %}
            <script src="{{ asset('js/main.min.js') }}"></script>
        {% endblock %}
</body>
</html>

