<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/admin-styles.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="admin">

        <div class="col col-lg-2" id="sidebar">
            <div class="container">
                <a href="{{ path('admin') }}" id="logo"><img src="{{ asset('img/crystal-white.png') }}" alt="Logo"></a>
                <ul class="admin-menu">
                    <li><a href="#">Новини</a>
                        <ul class="sub-menu">
                            <li><a href="{{ path('new_article') }}">Додати новину</a></li>
                            <li><a href="{{ path('admin_articles') }}">Всі новини</a></li>
                        </ul>
                    </li>
                    {#<li><a href="#">Коментарі</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li><a href="{{ path('new_comment') }}">Додати коментар</a></li>#}
                            {#<li><a href="{{ path('admin_comments') }}">Всі коментарі</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <li><a href="#">Сторінки</a>
                        <ul class="sub-menu">
                            <li><a href="{{ path('new_page') }}">Додати сторінку</a></li>
                            <li><a href="{{ path('admin_pages') }}">Всі сторінки</a></li>
                        </ul>
                    </li>
                    {#<li><a href="#">Користувачі</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li><a href="{{ path('new_user') }}">Додати користувача</a></li>#}
                            {#<li><a href="{{ path('admin_users') }}">Всі користувачі</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li><a href="#">Картинки</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li><a href="{{ path('new_image') }}">Додати картинку</a></li>#}
                            {#<li><a href="{{ path('admin_images') }}">Всі картинки</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <li><a href="#">Категорії</a>
                        <ul class="sub-menu">
                            <li><a href="{{ path('new_category') }}">Додати категорію</a></li>
                            <li><a href="{{ path('admin_categories') }}">Всі категорії</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Меню</a>
                        <ul class="sub-menu">
                            <li><a href="{{ path('admin_menu') }}">Редагувати</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col col-lg-10" id="content">
            <div class="container">
                {% block content %}{% endblock content %}

                {% block pagination %}{% endblock pagination %}

            </div>
        </div>

        {% block javascript %}
            <script src="{{ asset('js/main.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('js/admin.js') }}"></script>
        {% endblock %}
</body>
</html>

