{% extends 'admin/index.html.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ button }}" class="btn btn-default">
    {{ form_end(form) }}
{% endblock content %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckfinder/ckfinder.js') }}"></script>
    <script src="{{ asset('js/ckeditor/config.js') }}"></script>
    <script>
        if (document.getElementById("article_description") && document.getElementById("article_content") ) {
            var editor1 = CKEDITOR.replace( 'article_description' );
            var editor2 = CKEDITOR.replace( 'article_content' );
            editor2.config.height = 600;
            CKFinder.setupCKEditor(editor1);
            CKFinder.setupCKEditor(editor2);
        }

        if (document.getElementById("page_content") ) {
            var editor = CKEDITOR.replace( 'page_content' );
            CKFinder.setupCKEditor(editor);
        }
    </script>
{% endblock javascript %}