{% extends 'base.html.twig' %}

{% block body_classes %}single single-post{% endblock %}

{% block content %}
    <main role="main">
        {#<div id="intro-wrap" class="full-height">#}
            {#<div id="intro" class="preload darken more-button">#}
                {#<div class="intro-item" style="background-image: url({{ article.image }});">#}
                    {#&#123;&#35;<div class="photocaption">&#35;&#125;#}
                        {#&#123;&#35;<h4>Photography by <a href="vk.com/awaylastdays">Vadim Bryklia</a></h4>&#35;&#125;#}
                    {#&#123;&#35;</div><!-- photocaption -->&#35;&#125;#}
                {#</div>#}
            {#</div><!-- intro -->#}
        {#</div><!-- intro-wrap -->#}

        <div id="main" class="row">
            <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
                <div class="post-area clear-after">
                    <article role="main" class="column nine">
                        <h1>{{ article.title }}</h1>
                        <div id="article-content">
                            {{ article.content | raw }}
                        </div>
                    </article>

                    <aside role="complementary" class="sidebar column three last">
                        <div class="widget widget_search">
                            <form role="search" action="{{ path('search') }}" method="get">
                                <span class="pre-input"><i class="icon icon-search"></i></span>
                                <input type="text" placeholder="Поиск" name="text" value="" class="plain buffer">
                            </form>
                        </div>
                        {#<div class="widget">#}
                            {#<h4>Не знаю возможно тут будет реклама</h4>#}
                            {#<div class="textwidget">#}
                                {#Реклама - это не всегда плохо, порой ты видишь хорошие вещи, которые давно хотел, но не находил, а порой лучше бы не видеть эту рекламу. Но все же лучше реклама в интернете, чем тупые банеры, которые висят по всему городу.#}
                            {#</div><!-- la class="textwidget" è forse generata automaticamente da wp -->#}
                        {#</div>#}
                        <div class="widget">
                            <h4>Рубрики</h4>
                            <ul class="plain">
                                {% for category in categoryList() %}
                                    <li><a href="{{ path('category', {'slug' : category.slug }) }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                </div><!-- post-area -->

                <div class="related clear-after">
                    <h4>Последнии публикации</h4>
                    {% for article in lastArticles(3) %}
                        <div class="item">
                            <figure style="background-image: url({{ article.image }})"></figure>
                            <a class="overlay" href="{{ path('article', {"slug" : article.slug}) }}">
                                <div class="overlay-content">
                                    <div class="post-type"><i class="icon icon-search"></i></div>
                                    <h2>{{ article.title }}</h2>
                                    <p>{{ article.description | striptags }}</p>
                                </div><!-- overlay-content -->
                            </a><!-- overlay -->
                        </div>
                    {% endfor %}
                </div>
            </div><!-- row-content -->
        </div><!-- row -->
    </main><!-- main -->
{% endblock content %}