{% extends 'base.html.twig' %}

{% block body_classes %}single single-post{% endblock %}

{% block content %}
    <main role="main">
        <div id="intro-wrap" class="full-height">
            <div id="intro" class="preload darken more-button">
                <div class="intro-item" style="background-image: url({{ article.image.path }});">
                    <div class="photocaption">
                        <h4>Photography by <a href="vk.com/awaylastdays">Vadim Bryklia</a></h4>
                    </div><!-- photocaption -->
                </div>
            </div><!-- intro -->
        </div><!-- intro-wrap -->

        <div id="main" class="row">
            <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
                <div id="post-nav">
                    <ul class="clear-after reset plain">
                        <li id="prev-items" class="post-nav"><a href="#"><i class="fa fa-chevron-left"></i><span class="label hidden-mobile">Пред.</span></a></li>
                        <li id="all-items" class="post-nav"><a href="#"><i class="icon icon-images"></i></a></li>
                        <li id="next-items" class="post-nav"><a href="#"><span class="label hidden-mobile">След.</span><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>

                <div class="post-area clear-after">
                    <article role="main" class="column nine">
                        <h5 class="meta-post"><a href="{{ path('category', {"slug" : article.categories.slug, "page" : 1}) }}">{{ article.categories.name }}</a> - <time datetime="2013-11-09">Февраль 18, 2016</time></h5>
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.content }}</p>
                    </article>

                    <aside role="complementary" class="sidebar column three last">
                        <div class="widget widget_search">
                            <form role="search">
                                <span class="pre-input"><i class="icon icon-search"></i></span>
                                <input type="text" placeholder="Поиск" value="" class="plain buffer">
                            </form>
                        </div>
                        <div class="widget">
                            <h4>Не знаю возможно тут будет реклама</h4>
                            <div class="textwidget">
                                Реклама - это не всегда плохо, порой ты видишь хорошие вещи, которые давно хотел, но не находил, а порой лучше бы не видеть эту рекламу. Но все же лучше реклама в интернете, чем тупые банеры, которые висят по всему городу.
                            </div><!-- la class="textwidget" è forse generata automaticamente da wp -->
                        </div>
                        <div class="widget">
                            <h4>Рубрики</h4>
                            <ul class="plain">
                                <li><a href="#">Мода</a></li>
                                <li><a href="#">Люди</a></li>
                                <li><a href="#">Город</a></li>
                                <li><a href="#">Мир</a></li>
                            </ul>
                        </div>
                    </aside>

                </div><!-- post-area -->

                <div class="meta-social">
                    <ul class="inline center">
                        <li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href="#" class="vk-share border-box"><i class="fa fa-vk fa-lg"></i></a></li>
                    </ul>
                </div>

                <div class="related clear-after">
                    <h4>Последнии публикации</h4>
                    {% for article in popularArticles() %}
                        <div class="item">
                            <figure><img src="http://lorempixel.com/686/686/cats/" alt=""></figure>
                            <a class="overlay" href="{{ path('article', {"slug" : article.slug}) }}">
                                <div class="overlay-content">
                                    <div class="post-type"><i class="icon icon-search"></i></div>
                                    <h2>{{ article.title }}</h2>
                                    <p>Короткие ведомости о том, что ожидает нас в статье...</p>
                                </div><!-- overlay-content -->
                            </a><!-- overlay -->
                        </div>
                    {% endfor %}
                </div>

                {{ dump(app.user) }}

                <div class="comment-section">
                    <h3 id="comments">2 Комментарии</h3>
                    <ul class="comment-list plain">
                        <li class="comment">
                            <div class="single-comment">
                                <div class="comment-author">
                                    <img src="http://placehold.it/60x60" class="avatar" alt="">
                                    <cite><a href="#">Вадим Брыкля</a></cite>
                                    <span class="says">написал:</span>
                                </div><!-- comment-author -->
                                <div class="comment-meta">
                                    <time datetime="2016-02-18 23:47">Февраль 18, 2016 23:47</time> / <a href="#" class="reply">Ответить</a>
                                </div><!-- comment-meta -->
                                <p>Первый</p>
                            </div><!-- single-comment -->
                            <ul class="children plain">
                                <li class="comment">
                                    <div class="single-comment">
                                        <div class="comment-author">
                                            <img src="http://placehold.it/60x60" class="avatar" alt="">
                                            <cite><a href="#">Вадим Брыкля</a></cite>
                                            <span class="says">написал:</span>
                                        </div><!-- comment-author -->
                                        <div class="comment-meta">
                                            <time datetime="2016-02-18 23:50">Февраль 18, 2016 23:47</time> / <a href="#" class="reply">Ответить</a>
                                        </div><!-- comment-meta -->
                                        <p>Докатился, пишу самому себе...</p>
                                    </div><!-- single-comment -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- comment-section -->
                {% if app.user %}
                <div id="post-comment" class="clear-after">
                    <h3 id="reply-title">Оставьте свой отзыв</h3>
                    <p class="comment-note">Для отправки комментария нужна электронная почта</p>
                    <form class="comment-form">
                        <span class="pre-input"><i class="icon icon-user"></i></span>
                        <input class="name plain buffer" type="text" placeholder="Имя">
                        <span class="pre-input"><i class="icon icon-email"></i></span>
                        <input class="email plain buffer" type="email" placeholder="Электронная почта">
                        <textarea class="plain buffer" placeholder=Текст></textarea>
                        <input class="plain button red" type="submit" value="Отправить">
                    </form>
                </div><!-- post-comment -->
                {% endif %}
            </div><!-- row-content -->
        </div><!-- row -->
    </main><!-- main -->
{% endblock content %}