{% extends 'base.html.twig' %}

{% block content %}

    <h1>Registration</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.age) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <input type="submit" class="btn btn-default" value="Register">
    {{ form_end(form) }}

{% endblock content %}